$back: #f5f5fa;
$orange: 255,142,60;
$black: #373737;
$gray: 132, 129, 153;
$white: #fff;
$shadow: 82, 67, 194, 0.2958;

:root {
  --back: #{$back};
  --orange: #{$orange};
  --black: #{$black};
  --gray: #{$gray};
  --white: #{$white};
  --shadow: #{$shadow};

}
